<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Applicant <%= user.name %></p>
<p class="lead mb-3" >User Info: <%= JSON.stringify(user.userInfo) %></p>
<% if (user.userInfo.videoResume) { %>
  <h2>Thank you for Uploading your resume!</h2>
  <video width="320" height="240" controls>
    <source src="<%= user.userInfo.videoResume %>" type="video/mp4">
  </video>
<% } else { %>
  <div>
    <h2>Please upload a video resume</h2>
    <form action="users/uploadVideo" enctype="multipart/form-data" method="POST">
      <input type="file" name="videoResume" accept="video/*">
      <input type="submit">
    </form>
  </div>
<% } %>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
