<h1>Applicant Form</h1>
<form action="users/userInfo" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <input type="submit" value="Submit">
</form>
