<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Applicant <%= user.name %></p>
<p class="lead mb-3" >User Info: <%= JSON.stringify(user.userInfo) %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
