<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Employer <%= user.name %></p>
<p class="lead mb-3" >User Info: <%= JSON.stringify(user.userInfo) %></p>
<% if (user.userInfo.verified) { %>
  <p>YAY YOU'RE VERIFIED!</p>
  <div>
    <%= JSON.stringify(applicants) %>
  </div>
<% } else { %>
  <p>sorry you're not verified yet ;(</p>
<% } %>
<a href="/users/logout" class="btn btn-secondary">Logout</a>